@import 'tailwindcss';

@config '../tailwind.config.ts';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

html.dark {
  color-scheme: dark;
}

::selection {
  @apply bg-stone-800;
}

.text-muted-subtle {
  color: color-mix(in oklab, var(--color-neutral-600) 40%, transparent);
}

.dark .text-muted-subtle {
  color: color-mix(in oklab, var(--color-neutral-300) 45%, transparent);
}

.relative-link::before {
  content: '';
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: 0;
  right: 0;
  z-index: 10;
}

.top-gradient-overlay {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 45%,
    rgba(255, 255, 255, 0.92) 55%,
    rgba(255, 255, 255, 0.78) 66%,
    rgba(255, 255, 255, 0.52) 78%,
    rgba(255, 255, 255, 0.28) 88%,
    rgba(255, 255, 255, 0) 100%
  );
}

.dark .top-gradient-overlay {
  background: linear-gradient(
    to bottom,
    rgba(17, 16, 16, 1) 0%,
    rgba(17, 16, 16, 1) 45%,
    rgba(17, 16, 16, 0.92) 55%,
    rgba(17, 16, 16, 0.78) 66%,
    rgba(17, 16, 16, 0.5) 78%,
    rgba(17, 16, 16, 0.24) 88%,
    rgba(17, 16, 16, 0) 100%
  );
}
